<?xml version="1.0" encoding="utf-8"?>
<page xmlns="http://projectmallard.org/1.0/"
      type="topic" style="task" id="mil-iec">

	<info>
		<link type="guide" xref="index#edit"/>
		<desc>You can change a type of symbols shown on the circuit from <guiseq><gui>Edit</gui><gui>Preference</gui></guiseq>.</desc>
		<revision pkgversion="2.6" version="0.1" date="2012-10-08" status="final"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="credit.xml"/>
		<include xmlns="http://www.w3.org/2001/XInclude" href="legal.xml"/>
	</info>

	<title>Change symbol type</title>

	<section id="add"><title>Preference</title>
		<p>To change a type of symbols shown on the circuit, change "Symbol type" in <guiseq><gui>Edit</gui><gui>Preference</gui></guiseq> to "MIL/ANSI" or "IEC". This change doesn't affect to behavior of the circuit.</p>
	</section>

</page>
